.git/
.idea/
.venv/
volumes/
.gitignore
api.env
db.env
docker-compose.yaml
docker-compose.yaml.prod
Dockerfile
LICENSE
poetry.lock
pyproject.toml
README.md

client/node_modules/
client/dist/
client/.gitignore
client/README.md