.git/
.idea/
.venv/
volumes/
.gitignore
.pre-commit-config.yaml
api.env
db.env
docker-compose.yaml
docker-compose.yaml.prod
Dockerfile
LICENSE
README.md

client/node_modules/
client/dist/
client/.gitignore
client/README.md
